!!! XML
%rss{:version => "2.0", "xmlns:atom" => "http://www.w3.org/2005/Atom"}
  %channel
    %title ask craig
    %link what goes here?
    %description a site to serve my custome craigs list queries to reader.google
    <atom:link href="" rel="self" type="application/rss+xml" />
    - @answers.each do |itm|
      %item
        -if itm[:cost].nil?
          %title= "#{itm[:date]} - #{itm[:location]} - #{itm[:title]}"
        -else
          %title= "#{itm[:date]} $#{itm[:cost]} - #{itm[:location]} - #{itm[:title]}"
        %link= itm[:link]
        %description= ""
